@media (max-width:830px){
    .page{
        width: 100%;
    }
    .form-btn{
        width: 94%;
        gap: 10px;
        margin: 0;
        /* padding-right: 50px; */
    }
    .form-btn a{
        width: 46%; 
    }
    form{
        width: 100%;
    }
}