@media (max-width: 575px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        grid-template-columns: 100%;
        width: 100%;
    }

    .card-content {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .card {
        height: 110px;
        /* width: 85vw; */
        margin: auto;
    }

    .central-div {
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
    }

    header {
        width: 92vw;
        overflow: hidden;
        /* margin: 0 20px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav,
    nav a,
    nav a.btn {
        display: none;
    }

    #drawerTriger {
        display: block;
    }

    .drawer {
        display: block;
        background-color: rgba(32, 32, 32, 0.96);
        width: 300px;
        height: 100vh;
        position: absolute;
        left: -300px;
        padding: 20px;
        box-sizing: border-box;
        transition: cubic-bezier(1.00, -0.02, 0.00, 1.01) 0.5s;
        z-index: 999;
        border-bottom-right-radius: 35px;
        border-top-right-radius: 35px;
        box-shadow: 0 10px 30px #111111;
    }

    .drawer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }

    .drawer-header h1 {
        text-transform: capitalize;
        font-weight: 300;
        /* font-size: 1.8em; */
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        margin-top: 0;
    }

    .drawer-body a {
        text-transform: capitalize;
        display: block;
        margin: 15px 0px;
        font-size: 1.3em;
        cursor: pointer;
    }

    #closeBtn {
        padding: 15px;
        border-radius: 100%;
        transition: ease-in-out 0.5s;
        cursor: pointer;
    }

    #closeBtn:hover {
        background-color: #333333;
    }

    .highlighted {
        color: #ffffff;
        font-weight: 550;
    }

    /* #cardsNum {
        display: inline;
        margin: 15px auto 25px auto;
        width: auto;
        overflow: hidden;
    } */
}